{
  "extends": "marine/prettier/node",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "ignorePatterns": ["**/dist/*"],
  "env": {
    "jest": true
  },
  "rules": {
    "indent": ["error", 2],
    "@typescript-eslint/restrict-template-expressions": 0,
    "@typescript-eslint/no-unnecessary-condition": 0,
    "@typescript-eslint/prefer-ts-expect-error": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/no-namespace": 0,
    "no-use-before-define": 0,
    "no-redeclare": 0
  }
}