/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
}
.header img {
  width: 20rem;
}
.header h1 {
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
}
.header h2 {
  text-align: center;
  margin-top: -0.5rem;
  font-weight: 500;
  opacity: 80%;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.content {
  margin-top: 5rem;
  border-top: 1px solid #535353;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 2rem;
  /* height: 22rem; */
}

.itemm {
  text-align: left;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  /* max-height: 10rem; */
}
.itemm h3 {
  margin-bottom: 0.4rem;
}
.itemm p {
  opacity: 80%;
}

@media screen and (max-width: 600px) {
  .header img {
    width: 12rem;
  }
  .header h1 {
    font-size: 2rem;
  }
  .header h2 {
    font-size: 1rem;
  }
}
